html, body {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

div.wrap {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.wrap img {
	display: block; 
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}